@{
    ViewBag.Title = "მაღაზიის მართვის სისტემა";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>თქვენ შემოხვედით როგორც მაღაზიის ოპერატორი. თქვენ გაქვთ შემდეგი უფლებები: </h3>
<ol class="round">
   <li class="one">
        <h5>@Html.ActionLink("გაყიდვები", "Sales", "Shop")</h5>
        აქ ხედავთ მხოლოდ თქვენ მიერ, მიმდინარე დღეს გაყიდულ პროდუქციას.
        გვერდის ბოლოში კი ჩანს ჯამურად პროდუქციის რაოდენობა და ჯამურად პროდუქციის ფასი.
    </li>

    <li class="two">
        <h5>@Html.ActionLink("ისტორია", "History", "Shop")</h5>
        შეგიძლიათ თქვენ მიერ ჩატარებული გაყიდვების და დაბრუნებების სიის გაფილტვრა თარიღობრივი შუალედის მიხედვით.
    </li>
</ol>