@{
    ViewBag.Title = "მაღაზიის მენეჯერი";
}

<h3>თქვენ შემოხვედით როგორც მაღაზიის მენეჯერი. თქვენ გაქვთ შემდეგი უფლებები: </h3>

<ol class="round">
    <li class="one">
        <h5>@Html.ActionLink("საწყობის ნაშთების ნახვა", "Index", "Balances")</h5>
        ამ გვერდზე თქვენ შეგიძლიათ ნახოთ ყველა საწყობის ნაშთები ხის სტრუქტურის სახით.
    </li>

    <li class="two">
        <h5>@Html.ActionLink("გაყიდვების ისტორიის ნახვა", "Index", "ShopHistory")</h5>
        ამ გვერდზე თქვენ შეგიძლიათ ნახოთ გაყიდვების ისტორია, როგორც პროდუქტების, ასევე გამყიდველების მიხედვით.
    </li>
     <li class="three">
        <h5>@Html.ActionLink("მაღაზიის ახალი ოპერატორის დარეგისტრირება", "Register", "Account")</h5>
        ამ გვერდზე თქვენ შეგიძლიათ მაღაზიაში დაამატოთ ახალი გამყიდველი.
    </li>
</ol>
