@{
    ViewBag.Title = "მაღაზიის მენეჯერი";
}

<h3>თქვენ შემოხვედით როგორც მაღაზიის მენეჯერი. თქვენ გაქვთ შემდეგი უფლებები: </h3>

<ol>
   <li class="one">
        <h5>@Html.ActionLink("საწყობის ნაშთების ნახვა", "Index", "Balances")</h5>
        ამ გვერდზე თქვენ შეგიძლიათ ნახოთ ყველა საწყობის ნაშთები ხის სტრუქტურის სახით.
    </li>

    <li class="two">
        <h5>@Html.ActionLink("გაყიდვების ისტორია", "Index", "SalesHistory")</h5>
        ამ გვერდზე თქვენ შეგიძლიათ ნახოთ გაყიდვების ისტორია, როგორც პროდუქტების, ასევე გამყიდველების მიხედვით.
    </li>
</ol>
