@{
    ViewBag.Title = "მაღაზიის მართვის სისტემა";
}

<h3>თქვენ შემოხვედით როგორც მაღაზიის ოპერატორი. თქვენ გაქვთ შემდეგი უფლებები: </h3>
<ol class="round">
    <li class="one">
        <h5>@Html.ActionLink("გაყიდვების ნახვა", "Index", "ShopSales")</h5>
        აქ ხედავთ მხოლოდ თქვენ მიერ, მიმდინარე დღეს გაყიდულ პროდუქციას.
        გვერდის ბოლოში კი ჩანს ჯამურად პროდუქციის რაოდენობა და ჯამურად პროდუქციის ფასი.
    </li>

    <li class="two">
        <h5>@Html.ActionLink("გაყიდვების ისტორიის ნახვა", "Index", "ShopHistory")</h5>
        შეგიძლიათ თქვენ მიერ ჩატარებული გაყიდვების და დაბრუნებების სიის გაფილტვრა თარიღობრივი შუალედის მიხედვით.
    </li>
</ol>
