@{
    ViewBag.Title = "საწყობის ოპერატორის გვერდი";
   
}

<div id='cssmenu'>
<ul>
   <li><span>@Html.ActionLink("კატეგორიები", "Index", "Categories")</span></li>
   <li><span>@Html.ActionLink("პროდუქტები", "Index", "Products")</span></li>
   <li><<span>@Html.ActionLink("საწყობების მართვა", "Index", "Storages")</span></li>
   <li><a href='#'><span>ნაშთები</span></a></li>
</ul>
</div>

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">პროდუქციის კატეგორიები</a></li>
        <li><a href="#tabs-2">პროდუქციის ტიპები</a></li>
        <li><a href="#tabs-3">საწყობების მართვა</a></li>
        <li><a href="#tabs-4">საწყობების ნაშთები</a></li>
    </ul>
    <div id="tabs-1">
        @Url.Action("კატეგორიები", "Index", "Categories")
    </div>
    <div id="tabs-2">
        <p>აქ უნდა გამოჩნდეს პროდუქტების ცხრილი</p>
    </div>
    <div id="tabs-3">
        <p>აქ უნდა გამოჩნდეს საწყობების ცხრილი</p>
    </div>
    <div id="tabs-4">
        <p>აქ უნდა გამოჩნდეს საწყობების ხე</p>
    </div>
</div>