@{
    ViewBag.Title = "საწყობის ოპერატორის გვერდი";
   
}

<div id='cssmenu'>
<ul>
   <li><span>@Html.ActionLink("კატეგორიები", "Index", "Categories")</span></li>
   <li><span>@Html.ActionLink("პროდუქტები", "Index", "Products")</span></li>
   <li><span>@Html.ActionLink("საწყობების მართვა", "Index", "Storages")</span></li>
   <li><a href='#'><span>ნაშთები</span></a></li>
</ul>
</div>
