@{
    ViewBag.Title = "საწყობის ოპერატორის გვერდი";
   
}

<h3>თქვენ შემოხვედით როგორც საწყობის ოპერატორი. თქვენ გაქვთ შემდეგი უფლებები: </h3>
<ol class="round">
    <li class="one">
        <h5>@Html.ActionLink("კატეგორიების მართვა", "Index", "Categories")</h5>
        ამ გვერდზე თქვენ შეგიძლიათ პროდუქციის კატეგორიების სიის ნახვა, ახალი კატეგორიის დამატება, 
        ხოლო უკვე არსებულის რედაქტირება ან გაუქმება.
    </li>

    <li class="two">
        <h5>@Html.ActionLink("პროდუქტების მართვა", "Index", "Products")</h5>
        ამ გვერდზე თქვენ შეგიძლიათ პროდუქციის ტიპების სიის ნახვა, ახალი პროდუქტის ტიპის დამატება, 
        ხოლო უკვე არსებულის რედაქტირება ან გაუქმება.
    </li>

    <li class="three">
        <h5>@Html.ActionLink("საწყობების მართვა", "Index", "Storages")</h5>
        ამ გვერდზე თქვენ შეგიძლიათ საწყობების სიის ნახვა, ახალი საწყობის დამატება, 
        ხოლო უკვე არსებულის რედაქტირება ან დახურვა. ასევე შეგიძლიათ რომელიმე 
        კონკრეტულ საწყობში შეისყიდოთ პროდუქცია ან გადაიტანოთ ერთიდან მეორეში.
    </li>
    <li class="four">
        <h5>@Html.ActionLink("საწყობის ნაშთების ნახვა", "Index", "Balances")</h5>
        ამ გვერდზე თქვენ შეგიძლიათ ნახოთ ყველა საწყობის ნაშთები ხის სტრუქტურის სახით.
    </li>
</ol>
