@model ShopManagment.Category

@{
    ViewBag.Title = "კატეგორიის გაუქმება";
}

<h2>კატეგორიის გაუქმება</h2>

<h3>დარმწუნებული ხართ, რომ გინდათ ამ კატეგორიის გაუქმება?</h3>
<fieldset>
    <legend>Category</legend>

    <div class="display-label">
         სახელი:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         აღწერა:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descr)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true);
    <p>
        <input type="submit" value="გაუქმება" /> |
        @Html.ActionLink("უკან", "Index")
    </p>
}
