@if (Request.IsAuthenticated)
{
    <text>
    @using (Html.BeginForm("Logout", "User"))
    {
        <button class="btn btn-inverse" title="Log out" type="submit">Log out</button>
    }
    </text>
}
else
{
    <ul>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
